:root{
  --background: #faf8ef;
  --grid: #bbada0;
  --tile: #eee4da;
  --font-style: Clear Sans;
  --cell-width: 107px;
  --cell-height: 107px;
}

body {
  margin: 0;
  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
